<div class="container container-sm container-md container-lg container-xl container-fluid" style="margin-top: 15%;">
    <div class="row justify-content-center">
        <div class="col12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center text-sm-center text-md-center text-lg-center text-xl-center">
            <h1 class="display-1">403</h1>
            <div class="lead">Sorry, your access is refused due to security reasons.</div>
            <div class="lead">Please go back to the previous page to continue browsing.</div>
            <div style="margin-top: 1%;">
                <button class="btn btn-danger" (click)="goBack()">Go Back</button>
            </div>

        </div>
    </div>
</div>